.table {
  width: 100%;
  border: 1px solid black;
  
  .row_header_cell {
    border-right: 1px solid gray;
  }

  .row_body_cell{
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    .row_input {
      padding: 5px 10px;
      width: 100%;
      border: none;
      text-align: right;
      height: 100%;
    }
    .row_input:disabled {
      background: lightgray;
    }
  }
  .row_body_cell:last-child,
  .row_header_cell:last-child {
    border-right: none;
  }
}
